<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>

<div *ngIf = "(authService.getUser()|async)">
  <button mat-raised-button
  color = "primary"
  (click) = "addCustomerFormOPen = !addCustomerFormOPen"
>
Add Customer
</button>      
</div>
<div>
  <customerform *ngIf = "addCustomerFormOPen"
  (update) = "add($event)"
  (closeEdit) = "addCustomerFormOPen = false"
  [formType] = "'Add Customer'"> 
  </customerform>
</div>




<table mat-table [dataSource]="customers" class="mat-elevation-z8"  *ngIf = "(authService.getUser()|async)">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element; let i = index">  
        <span *ngIf = "i!=rowToEdit">{{element.name}}</span> 
                <mat-form-field *ngIf = "i==rowToEdit" >
                  <input          
                    matInput
                    [(ngModel)]="customerToEdit.name" 
                    [value] = "element.name"            
                  >
                </mat-form-field> </td>
    </ng-container>
  
    <!-- Years Column -->
    <ng-container matColumnDef="years">
      <th mat-header-cell *matHeaderCellDef> Education </th>
      <td mat-cell *matCellDef="let element; let i = index">         
        <span *ngIf = "i!=rowToEdit">{{element.years}}</span> 
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="customerToEdit.years" 
            [value] = "element.years"            
          >
        </mat-form-field></td>
    </ng-container>
  
    <!-- Income Column -->
    <ng-container matColumnDef="income">
      <th mat-header-cell *matHeaderCellDef> Income </th>
      <td mat-cell *matCellDef="let element; let i = index">        
        <span *ngIf = "i!=rowToEdit">{{element.income}}</span> 
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="customerToEdit.income" 
            [value] = "element.income"            
          >
        </mat-form-field> </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button 
                *ngIf = "i!=rowToEdit"
                mat-raised-button
                (click) = "moveToEditState(i)"
              >
                Edit
              </button> 
              <button 
                *ngIf = "i==rowToEdit"
                mat-raised-button
                color="primary"
                (click) = "updateCustomer()"
              >
                save
              </button> 
              <button 
                *ngIf = "i==rowToEdit"
                mat-raised-button
                (click) = "rowToEdit = null"
              >
                Cancel
              </button>                   
            </td>
      </ng-container>    
          <!-- Edit Class Column -->
    <ng-container matColumnDef="Edit Class">
      <th mat-header-cell *matHeaderCellDef> Edit Class </th>
          <td mat-cell *matCellDef="let element">
            <button 
              mat-raised-button
              (click) = "editstate[i] = !editstate[i]"
            >
            Edit
            </button> 
            <customerform 
            [hidden] = "!editstate[i]"
            [name] = "element.name"
            [years] = "element.years"
            [income] = "element.income"
            [id] = "element.id"
            (update) = "update($event)"
            (closeEdit) = "editstate[i] = !editstate[i]"
            [formType] = "'Edit Customer'"> 
            </customerform>
                 
          </td>
    </ng-container>    
         <!-- Delete Class Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button mat-raised-button color="warn" 
              (click)="deleteCustomer(element.id)">
              Delete
            </button>   
            </td>
      </ng-container>  
          <!-- Predict Column -->
    <ng-container matColumnDef="predict">
      <th mat-header-cell *matHeaderCellDef> Predict </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button 
              *ngIf = "!element.result"
              mat-raised-button
              (click) = "predict(i)"
            >
              Predict
            </button>
            <button 
               *ngIf = "element.result&&!element.saved" mat-raised-button 
                 color="primary"
                 (click) = "updateResult(i)"
                 >
                 Save
                </button>
                  <span *ngIf = "element.saved">saved</span>        
                  </td>
              </ng-container>                    
  
              <!-- Result Column -->
              <ng-container matColumnDef="Result">
                <th mat-header-cell *matHeaderCellDef> Result </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <span [ngClass]="[element.result=='Will return' ? 'green' : 'red']">
                        {{element.result}}
                      </span> 
                     
                    </td>
              </ng-container>   

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

