<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of myPosts$ | async ">
      <mat-expansion-panel-header>
        <button mat-raised-button color="warn" (click)="deletePost(post.id)">Delete</button>
        <mat-panel-title>
          {{post.id}}
        </mat-panel-title>
        <mat-panel-description>
          {{post.title}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{post.body}}</p>
      <p> Number of likes: {{post.like}}</p>
      <button  (click)="update(post.id,post.like)">Like</button>
    </mat-expansion-panel>

</mat-accordion>