<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/customers" routerLinkActive="active">Customers</a>
      <a mat-list-item routerLink="/posts" routerLinkActive="active">Blog Posts</a>
      <a mat-list-item routerLink="/myposts" routerLinkActive="active">My Posts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>sampleExame</span>
      <span class = "spacer"></span>
      <a class="whitelink" routerLink = "/signup" *ngIf ="!(authService.getUser() | async)">Signup</a>
      <a class="whitelink" routerLink = "/login"  *ngIf ="!(authService.getUser() | async)">Login</a>
      <a class="whitelink1" (click) = "logOut()"  *ngIf ="(authService.getUser() | async)">Logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
