<mat-card>
    <h1>{{formType}}</h1>
    <form #bookForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Income</mat-label>
              <input matInput 
                [(ngModel)] = "income"
                name = "income"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Years of education</mat-label>
              <input matInput 
                [(ngModel)] = "years"
                name = "years"
                type ="number"
                min=0
                max=24
                required>
            </mat-form-field>
          </p>
        <div >
            <button mat-raised-button color="primary" (click)= "updateParent()">
                {{formType}}
            </button>
            <button mat-raised-button  
            (click)= "tellParentToClose()">
            Cancel
          </button> 
          <p *ngIf="isError">{{errorMessage}}</p>
        </div>
      </div>
    </form>
   </mat-card>
