<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of posts$ | async; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.id}}
        </mat-panel-title>
        <mat-panel-description>
          {{post.title}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{post.body}}</p>
    <!-- <div *ngFor="let comment of comments$ | async" > 
      <div  *ngIf="(post.id == comment.postId)">       
       <div> {{comment.body}}</div>  
      </div>
    </div> -->
<!-- <comments
[title] = "post.title"
[body] = "post.body"
[id] = "post.id"
 (update) = "savePost($event)">
  
</comments> -->
      <button mat-raised-button
      color = "primary"
      (click) = "savePost(post.id,post.title,post.body); savestate[i] = !savestate[i]" 
      [disabled] = "savestate[i]"  >
        {{btntitle}}
    </button>  
  </mat-expansion-panel>

  </mat-accordion>
  
