
<mat-card>
    <h1>Save posts</h1>
    <form #bookForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>title</mat-label>
              <input matInput 
                [(ngModel)] = "title"
                name = "title"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Body</mat-label>
              <input matInput 
                [(ngModel)] = "body"
                name = "body"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Id</mat-label>
              <input matInput 
                [(ngModel)] = "id"
                name = "id"
                required>
            </mat-form-field>
          </p>
        <div >
            <button mat-raised-button color="primary" (click)= "updateParent()">
                Save posts
            </button>
            <button mat-raised-button >
            Cancel
          </button> 
        </div>
      </div>
    </form>
   </mat-card>
